<p class="spacer"></p>

<div class="h-96">
    <h1 class='text-2xl py-8' *ngIf="!loading">{{general_title}}</h1>

    <!--<app-nav-dev *ngIf="!loading" [practicalsComp]="practicalsComp"></app-nav-dev>-->

    <app-practicals *ngIf="!loading" [practicalsComp]='practicalsComp'  class="flex items-center justify-center mx-20" ></app-practicals>

</div>