<h2 *ngIf="data.h2"
    class="text-2xl font-semibold text-raldeblue-900 py-2 shadow-sm w-fit bg-slate-100 mb-2 px-2 rounded-md border-2 border-raldeblue-800">
    {{data.h2}}</h2>


<div class="basic_component  mb-8">

    <div class="pt-8 pb-16 px-16 bg-slate-100 mt-8 h-full rounded-md">
        <p *ngIf="data.text_p1" class="font-bold text-2xl mb-4">{{data.text_p1}}</p>
        <p *ngIf="data.text_p2" class="mb-4 text-lg">{{data.text_p2}}</p>
        <div class="flex flex-col">
            <div *ngFor="let link of data.links" class="flex mb-4">
                <span>🔗</span>
                <a [href]="link.resource_url" target="_blank"
                    class="text-xl underline text-blue-600 hover:text-blue-800 visited:text-purple-600">{{link.resource_title}}</a>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row sm:space-x-4 mt-4">
            <div (click)="onPreviousClick()"
                class="flex items-center px-6 py-3 font-medium text-white bg-raldeorange-700 hover:bg-raldeorange-300 hover:text-gray-600 rounded">
                previous
            </div>
            <div (click)="onNextClick()"
                class="flex items-center px-6 py-3 font-medium text-white bg-raldesurf-400 hover:bg-raldesurf-700 hover:text-gray-600 rounded">
                next
            </div>
        </div>
    </div>