<div class="basic_component ">
    <div class=" shadow-lg pb-3 bg-slate-50">
      
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Aim: {{data.aims}}</div>
        <p class="text-gray-700 text-base">
          {{data.text_p1}}
        </p>
        <p class="text-gray-700 text-base">
          {{data.text_p2}}
        </p>
        <p class="text-gray-700 text-base">
          {{data.text_p3}}
        </p>
      </div>
      <div href='' class="flex flex-col justify-center items-center  sm:flex-row sm:space-x-4 mb-2 mx-2">
        <div (click)="onStartClick()"
          class="flex items-center px-6 py-3 font-medium text-white bg-raldemint-900 hover:bg-gray-200 hover:text-gray-600 rounded">
          Start
        </div>
 
      </div>
    </div>
  </div>