<h2 *ngIf="data.h2"
  class="text-2xl font-semibold text-raldeblue-900 py-2 shadow-sm w-fit bg-slate-100 mb-2 px-2 rounded-md border-2 border-raldeblue-800">
  {{data.h2}}</h2>
<div class="py-4 px-16 bg-slate-100 mt-8 h-full rounded-md">
    <div class="flex flex-col items-center">

        <h1 class='mt-8 text-2xl'>{{data.text_p1}}</h1>

        <div class=" flex justify-center gap-4 mt-8 ">
            <!-- <div cdkDropList #origin="cdkDropList" class="example-list flex flex-col items-center"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box " *ngFor="let item of data.choices" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    {{item.answer}}
                </div>
            </div>

            <div class="example-list flex flex-col items-center" cdkDropList #inProgress="cdkDropList"
                [cdkDropListData]="trash_items" [cdkDropListConnectedTo]="[origin]" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of trash_items" class="task" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    {{item.answer}}
                </div>
            </div>-->


            <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="base_items"
                [cdkDropListConnectedTo]="[doneList]" class="example-list flex flex-col items-center"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of data.choices" cdkDrag>{{item.answer}}</div>
            </div>

            <div>Trash zone : drop non necessary steps here
                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="trash_items"
                    [cdkDropListConnectedTo]="[pendingList]" class="example-list flex flex-col items-center"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of trash_items" cdkDrag>{{item.answer}}</div>
                </div>
            </div>







            <div *ngIf="data.isPictureIllustration" class="self-start">
                <img *ngFor="let imgUrl of data.illustrationPicturesUrls" [src]='imgUrl' class="w-1/2 rounded-sm">
            </div>
        </div>

        <div *ngIf="orderChecked box-border">
            <div *ngIf="badOrder"
                class="bg-red-300 border border-red-400 flex justify-center p-4 rounded-md mt-4 box-border">
                <p>
                    {{data.badAnswerText}}
                </p>
            </div>

            <div *ngIf="goodOrder" class="flex-col ">
                <div class="bg-green-300 border border-green-400 flex justify-center p-4 rounded-md mt-4 box-border">
                    <p>{{data.goodAnswerText}}</p>
                </div>


            </div>

        </div>

        <button (click)="checkOrder()"
            class="mt-6 self-center  flex items-start-start justify-start px-6 py-3 font-medium text-white bg-raldeblue-400 hover:bg-gray-200 hover:text-gray-600 rounded">Check
            answer</button>

    </div>
    <div *ngIf="orderChecked box-border">
        <div *ngIf="goodOrder">
            <hr class="solid mt-4 mb-4">
            <div class="flex flex-col sm:flex-row sm:space-x-4 mb-2">
                <div (click)="onPreviousClick()"
                    class="flex items-center px-6 py-3 font-medium text-white bg-raldeorange-700 hover:bg-raldeorange-300 hover:text-gray-600 rounded">
                    previous
                </div>
                <div (click)="onNextClick()"
                    class="flex items-center px-6 py-3 font-medium text-white bg-raldesurf-400 hover:bg-raldesurf-700 hover:text-gray-600 rounded">
                    next
                </div>

            </div>
        </div>
    </div>


</div>