<div class="w-full px-8 text-gray-700 bg-white">


    <div class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
        <div class="relative flex flex-col md:flex-row">
            <a href=""
                class="flex items-center mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0 mr-2">
                <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none"><img
                        src="../assets/img/RALDE_OGIcon.png" class="h-10" /></span>
            </a>
            <div class="mr-1">
                <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none"><img
                        src="../assets/img/erasmus+.jpg" class="h-10" /></span>

            </div>
            <div class="mr-1">
                <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none"><img
                        src="../assets/img/europe_flag.png" class="h-10" /></span>

            </div>
            <div class="flex mr-1">
                <!--<span class="self-end">Erasmus+</span>-->
            </div>


            <nav
                class="flex flex-wrap items-center mb-5 text-base md:mb-0 md:pl-8 md:ml-8 md:border-l md:border-gray-200">
                <a routerLink="" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Home</a>
                <a routerLink="/categories" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Virtual
                    practicals categories</a>

            </nav>
        </div>

        <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
            <a href="#"
                class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-900">
                Sign in
            </a>
            <a href="#"
                class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-raldemint-900 border border-transparent rounded-md shadow-sm hover:bg-raldemint-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">
                Sign up
            </a>
        </div>
    </div>

    <router-outlet></router-outlet>


</div>