  
  /*
  *  Position the #infoi element in the top-right
  *  of the .wrapper element
  */
  .hotspot {
    position: absolute;    
  }

  .text_spot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.hotspot:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-play-state: running;
    cursor: pointer;
}

.hotspot {   
    animation-name: pulse_soft;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

@keyframes pulse_soft {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

.hotspotImg {
    height: 30px;
    width: 30px;    
  }

  .hotspotImgxxsmall {
    height: 10px;
    width: 10px;    
  }

  .hotspotImgxsmall {
    height: 15px;
    width: 15px;    
  }

  .hotspotImgsmall {
    height: 20px;
    width: 20px;    
  }

  .hotspotImgDefault {
    height: 30px;
    width: 30px;    
  }

  .tip_container{
    width: 80%;
    min-height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .tip_close{
        position:absolute;
        top:1%;
        right:0%;
        width: 30px;
        height: 30px;
        opacity: 0.3;
       }

       .tip_close:hover {
        opacity: 1;
      }
      .tip_close:before, .tip_close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: rgb(3, 95, 138);
      }
      .tip_close:before {
        transform: rotate(45deg);
      }
      .tip_close:after {
        transform: rotate(-45deg);
      }
  
  .img_back_marker {
    margin: 0 auto;
    border:5px solid grey;
    position: relative;
    
    //display: inline-flex;

    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .img_back_marker img {
    max-width:100%;
    height: auto;
    //display: block;
  }

  .img_cont{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .other{
max-width:80%
  }