<div class="overflow-hidden shadow-lg pb-4">
  <img class="w-full" [src]='cardInfo.img_src' alt="category">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{cardInfo.title}}</div>
    <p class="text-gray-700 text-base">
      {{cardInfo.text}}
    </p>
  </div>
  <div class="flex flex-col sm:flex-row sm:space-x-4 mb-2 px-6">
    <a [routerLink]="cardInfo.nav_to"
      class="flex items-center px-6 py-3 font-medium text-white bg-raldemint-800 hover:bg-gray-200 hover:text-gray-600 rounded">
      Explore
    </a>
  </div>
</div>