<div class="px-2 py-32 bg-white md:px-0">
    <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
      <div class="flex flex-wrap items-center sm:-mx-3">
        <div class="w-full md:w-1/2 md:px-3">
          <div class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
            <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
              <span class="block xl:inline">Welcome to the </span>
              <span class="block text-raldeblue-900 xl:inline">RALDE </span>
              <span class="block xl:inline">virtual practicals application</span>
            </h1>
            <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">Find your practical by clicking the explore button</p>
            <div class="relative flex flex-col sm:flex-row sm:space-x-4">
              <a routerLink="/categories" class="flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-raldemint-700 sm:mb-0 hover:bg-raldemint-900 sm:w-auto rounded">
                Explore
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
              </a>
              <a target="_blank" href="https://main-site.ralde.eu/index.php/virtualpracticals/" class="flex items-center px-6 py-3 text-gray-500 bg-gray-100 hover:bg-gray-200 hover:text-gray-600 rounded">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="w-full h-auto overflow-hidden shadow-xl rounded">
              <img src="https://imgs.ralde.eu/start_img.jpg" alt="mozaic picture"
              >
            </div>
        </div>
      </div>
    </div>
</div>